html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;;
  background-image: url("../images/img1.jpg");
}

#displayPanel {
  font-size: 32pt;
  text-align: center;
  padding-top: 10px;
}

#controlPanel {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

input[type=file] {
  visibility: hidden;
  width: 1px;
}
