<!DOCTYPE html>
  <head>
    <title>Vue.js SPAのサンプルアプリケーション</title>
    <style>
    </style>

    <!-- Vue.js本体とVue Routerの読み込み -->
    <script src="https://unpkg.com/vue@2.5.17"></script>
    <script src="https://unpkg.com/vue-router@3.0.1"></script>

  </head>

  <body>
      <div id="app">
          <nav>
              <router-link to="/top">トップページ</router-link>
              <router-link to="/users">ユーザー一覧ページ</router-link>
          </nav>
          <router-view></router-view>
      </div>

      <!-- ユーザー一覧 -->
      <script type="text/x-template" id="user-list">
        <div>
            <div class="loading" v-if="loading">読み込み中。。。</div>
            <div class="error" v-if="error">{{ error }}</div>
            <!-- usersがロードされたら各ユーザーの名前を表示する -->
            <div v-for="user in users" :key="user.id">
                <router-link :to="{ name: 'user', params: { userId: user.id } }">
                  <h2>{{ user.name }}</h2>
                </router-link>
            </div>
        </div>
      </script>

      <!-- ユーザー詳細 -->
      <script type="text/x-template" id="user-detail">
        <div>
            <div class="loading" v-if="loading">読み込み中。。。</div>
            <div class="error" v-if="error">{{ error }}</div>
            <div v-if="user">
                <h2>{{ user.name }}</h2>
                <p>{{ user.description }}</p>
            </div>
        </div>
      </script>


    <script>
      // ダミーデータ
      var userData = [
          {
              id: 1,
              name: 'Takuya Tejima',
              description: '東南アジアで働くエンジニアです。'
          },
          {
              id: 2,
              name: 'Yohei Noda',
              description: 'アウトドア・フットサルが趣味のエンジニアです。'
           }
      ]

      // ユーザー一覧JSONを返すダミー関数
      // この関数を用いて擬似的にWeb API経由で情報を取得したようにする
      var getUsers = function (callback) {
          setTimeout(function () {
              callback(null, userData)
          }, 1000)
      }
      // ユーザー詳細JSONを返すダミー関数
      var getUser = function (userId, callback) {
          setTimeout(function () {
              var filteredUsers = userData.filter(function (user) {
                  return user.id === parseInt(userId, 10)
              })
              callback(null, filteredUsers && filteredUsers[0])
          }, 1000)
      }

      // ユーザー一覧コンポーネント
      var UserList = {
          // HTML上のscriptタグのidを指定する
          template: '#user-list',
          data: function () {
            return {
                loading: false,
                users: function () {
                    // 初期値のから配列
                    return {}
                },
                error: null
            }
          },

          // 初期化時にデータを取得する
          created: function () {
              this.fetchData()
          },

          // $routeの変更をwatchすることでルーティングが変更された時に再度データを取得する
          watch: {
              $route: 'fetchData'
          },

          methods: {
              fetchData: function() {
                  this.loading = true
                  // 取得したデータの結果をusersに格納する
                  // Function.prototype.bindはthisのスコープを渡すために利用
                  getUsers((function (err, users) {
                      this.loading = false
                      if (err) {
                          this.error = err.toString()
                      } else {
                          this.users = users
                      }
                  }).bind(this))
              }
          }
      }

      // ユーザー詳細コンポーネント
      var UserDetail = {
          template: '#user-detail',
          // 初期値のセット
          data: function () {
              return {
                  loading: false,
                  user: null,
                  error: null
              }
          },

          created: function () {
              this.fetchData()
          },

          watch: {
              $route: 'fetchData'
          },

          methods: {
              fetchData: function () {
                  this.loading = true
                  // this.$route.paramsに現在のURL上のパラメータに対応したuserIdが格納される
                  getUser(this.$route.params.userId, (function (err, user) {
                      this.loading = false
                      if (err) {
                          this.error = err.toString()
                      } else {
                          this.user = user
                      }
                  }).bind(this))
              }
          }
      }

      var router = new VueRouter({
          routes: [
              {
                  path: '/top',
                  component: {
                      template: '<div>トップページです。</div>'
                  }
              },
              {
                  path: '/users',
                  component: UserList
              },
              {
                  path: '/users/:userId',
                  name: 'user',
                  component: UserDetail
              }
          ]
      })

      var app = new Vue({
          router: router
      }).$mount('#app')

    </script>

  </body>
</html>